extends ../layout/default.pug
block content
	.container
		.jumbotron.my-2
			h1= title
			button.btn.btn-primary(onclick="location.href='/board';") 리스트로 돌아가기
		ul.my-3(style="list-style: none; padding: 0;")
			li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-warning 번호
				div.p-2= list.id
			li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-warning 제목
				div.p-2= list.title
			li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-warning 작성자
				div.p-2= list.writer
			li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-warning 작성일
				div.p-2= list.wdate
			li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-warning 내용
				div.p-2= list.content
			if list.savefile
				li.d-flex.list.border-bottom
					div(style="flex: 30% 0 0;").p-2.bg-warning 첨부파일
					div.p-2
						a(href=`/board/download?file=${list.savefile}&name=${list.realfile}`)= list.realfile
			if list.imgSrc
				li.d-flex.list.border-bottom
					div(style="flex: 30% 0 0;").p-2.bg-warning 첨부이미지
					div.p-2
						img.mw-100(src=`${list.imgSrc}`)
		.p-3.text-center
			button.btn.btn-primary(onclick=`location.href='/board'`) 리스트
			if user && user.id
				button.btn.btn-primary(onclick=`location.href='/board/write'`) 글쓰기
			if user && user.id && user.id == list.uid
				button.btn.btn-success(onclick=`location.href='/board/update/${list.id}'`) 수정
				button.btn.btn-danger(onclick=`onDelete(${list.id});`) 삭제